.demopoint-done > .demopoint-block-connector {
  background-color: #4793c4;
  box-shadow: 0 0 1px 1px #4793c4;
}
.demopoint-done > * > .demopoint-block-indicator {
  margin-top: 10px;
  box-shadow: 0 0 3px #4793c4;
  background-color: #4793c4;
  border: 4px solid #4793c4;
}
.demopoint-done > * > .demopoint-block-title {
  color: #4793c4;
}
.demopoint-current > .demopoint-block-connector {
  background-color: #959595;
  height: 7px;
}
.demopoint-current > * > .demopoint-block-indicator {
  height: 16px;
  width: 16px;
  margin: 4px 0;
  background-color: #4793c4;
  border: 8px solid #4793c4;
  box-shadow: 0 0 1px 1px #4793c4;
}
.demopoint-current > * > .demopoint-block-title {
  color: #4793c4;
  font-size: 14px;
  font-weight: bold;
}
.demopoint-current > * > .demopoint-block-title.demopoint-alt {
  color: #4793c4;
}
.demopoint-default > .demopoint-block-connector {
  background-color: #959595;
}
.demopoint-default > * > .demopoint-block-indicator {
  margin-top: 10px;
  background-color: transparent;
  border: 4px solid #959595;
}
.demopoint-default > * > .demopoint-block-title {
  color: #959595;
}
.demopoint-block {
  height: 80px;
  float: left;
}
.demopoint-block-body {
  height: 100%;
  width: 100%;
  text-align: center;
  float: left;
  position: relative;
}
.demopoint-block-indicator {
  margin: auto;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  box-sizing: initial;
  display: inline-block;
}
.demopoint-block-title {
  line-height: 20px;
  font-size: 10px;
  position: relative;
}
.demopoint-block-title.demopoint-alt {
  top: 60px;
  line-height: 20px;
  position: relative;
}
.demopoint-block-connector {
  height: 5px;
  width: 50px;
  margin-top: 37px;
}
