* {
    margin: 0px;
    padding: 0px;
}

#trick-word {
    z-index: 15;
    font-size: 19px;
    text-decoration: underline;
}

.header {
    position: fixed;
    top: 0px;
    background-color: #4793C4;
    padding-top: 20px;
    height: 200px;
    width: 100%;
}

.checkpoint-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    height: 100px;
    padding-top: 20px;
    border: 0px solid red;
    border-radius: 20px;
    z-index: 50;
}

.checkpoint-page {
    padding-top: 100px;
}

#introduction-page {
    padding-top: 200px;
}

.todo {
    color: #ddd;
}

/* 2. examples */
.sample-checkpoint {
    height: 80px;
}

.thank {
    margin-top: 20%;
    text-align: center;
}

.love {
    height: 20px;
    width: 20px;
}

