* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #4793C4;
    padding-top: 20px;
    height: 200px;
    width: 100%;
}

.checkpoint-page {
    display: none;
    position: absolute;
}

.checkpoint-page.checkpoint-active {
    display: block;
}

/* Tabs */

    /* 1. introduction */
    #trick-word {
        font-size: 19px;
        text-decoration: underline;
    }
    .todo {
        color: #ddd;
    }

    /* 2. examples */
    .sample-checkpoint {
        margin-left: 100px;
    }


